<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>At&amp;t Hackathon Listener Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <!-- Top-down modal start -->
    <div class="hide-alert fixed-top">
      <div class="alert-container">
        <div class="alert-element alert-message">
          <p class="alert-text">IHeart80s 103.7 is ready to take phone calls!</p>
        </div>
        <div class="alert-element call-container">
          <button class="call-btn" type="button"><span class="call-logo control-backward glyphicon glyphicon-earphone" aria-hidden="true"></span></button>
        </div>
        <div class="alert-element dismiss-container">
          <p class="dismiss-alert">X</p>
        </div>
      </div>
    </div>
    <!-- Top-down modal end -->

  	<div class="iheart-radio-logo">
  		<img class="wide-logo" src="http://img.ccrd.clearchannel.com/media/mlib/977/2015/12/default/iheartradio_logo_05_nobg_0_1449143668.png">
  		<img class="narrow-logo" src="http://www.strata-gee.com/wp-content/uploads/2015/07/iHeartRadio_Logo-RS.png">
  	</div>
  	<hr class="logo-divider">
  	<div class="station-container">
      <% stations.forEach(function(station){ %>
    		<div class="station" data-id="<%= station.id %>">
    			<img src="<%= station.logo %>">
    		</div>
      <% }) %>
  	</div>

    <!-- Bottom-up modal start -->
    <div class="hide-player fixed-bottom">
      <div class="player-container">
        <div class="player-element song-art">
          <img src="http://radioedit.iheart.com/service/img/nop()/new_assets/dce6c927-3e3a-488d-b015-14ab0be25296" />
        </div>
        <div class="player-element song-info">
          <p class="station-name"></p>
          <p class="station-freq"></p>
          <p class="no-stream" hidden>Stream is temporarily unavailable</p>
          
        </div>
        <div class="player-element player-controls">
          <div class="player-control"><span class="control-backward glyphicon glyphicon-backward" aria-hidden="true"></span></div>
          <div class="player-control play-btn"><span class="control-play glyphicon glyphicon-pause" aria-hidden="true"></span></div>
          <div class="player-control"><span class="control-forward glyphicon glyphicon-forward" aria-hidden="true"></span></div>
        </div>
      </div>
    </div>
    <!-- Bottom-up modal end -->
    <audio controls="controls" class="aud" hidden>
        Your browser does not support the <code>audio</code> element.
      <source class="audio-source" type="application/x-mpegURL">
    </audio>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src="/js/index.js"></script>
  </body>
</html>
