<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>At&amp;t Hackathon Listener Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	<div class="iheart-radio-logo">
  		<img class="wide-logo" src="/assets/images/iheartradio_logo_wide.png">
  		<img class="narrow-logo" src="/assets/images/iheartradio_logo_mobile.png">
  	</div>
  	<hr class="logo-divider">
    <div class="center-start-button">
      <button class="start-btn">Start taking calls</button>
    </div>
      <div class="dj-container">
        <div class="hang-up-container">
          <p>You are not currently on a call.</p>
          <button class="hang-up-btn"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></button>
        </div>
        <div class="callers-container">
          <h2 class="caller-status">No callers yet.</h2>
          <ol class="caller-list">
          </ol>
        </div>
      </div>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
     <!-- <script src="/dist/rmc3.min.js"></script> -->
        <script src="https://cdn.webrtc-experiment.com:443/rmc3.min.js"></script>

        <!-- custom layout for HTML5 audio/video elements -->
        <script src="https://cdn.webrtc-experiment.com/getMediaElement.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src="js/index.js"></script>
    <script src="js/djsockets.js"></script>
  </body>
</html>
